.header {
  margin: 0 48px;
  padding-top: 28px;
  max-width: 1185px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

@media screen and (max-width:3840px) {
  .header {
  margin: 0 auto;
  }
}

@media screen and (max-width:1280px) {
  .header {
  margin: 0 48px;
  }
}

@media screen and (max-width:1024px) {
  .header {
  max-width: 928px;
  }
}

@media screen and (max-width:768px) {
  .header {
  max-width: 720px;
  margin: 0 24px;
  }
}

@media screen and (max-width:320px) {
  .header {
  max-width: 320px;
  margin: 0 16px;
  padding-top: 16px;
  }
}