.cover {
  width: 1184px;
  min-height: 740px;
  margin: 92px auto 0;
  padding: 0;
  text-decoration: none;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.cover::after {
  content:'';
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cover:hover::after  {
  opacity: 0.8;
}

@media screen and (max-width:1280px) {
  .cover {
    margin: 92px 42px 0;
  }
}

@media screen and (max-width:1279px) {
  .cover {
    width: 100%;
    margin: 92px auto 0;
  }
}

@media screen and (max-width:1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width:768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width:500px) {
  .cover {
    min-height: 300px;
  }
}

@media screen and (max-width:320px) {
  .cover {
    min-height: 200px;
  }
}