.lead__caption {
  margin: 0;
  padding: 0;
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width:768px) {
  .lead__caption {
    margin: 0;
    margin-left: 24px;
  }
}

@media screen and (max-width:320px) {
  .lead__caption {
    margin: 0;
    margin-left: 16px;
  }
}