.cover__title {
  margin: 0;
  padding: 0;
  max-width: 560px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  color: white;
}

@media screen and (max-width:600px) {
  .cover__title {
    font-size: 52px;
    line-height: 1.09;
  }
}

@media screen and (max-width:450px) {
  .cover__title {
    font-size: 42px;
  }
}

@media screen and (max-width:320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
  }
}