.places__item {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: repeat(2, auto);
  column-gap: 40px;
  row-gap: 48px;
}

.places__item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width:1024px) {
  .places__item {
    grid-template-columns: 440px auto;
    column-gap: 32px;
  }
}

@media screen and (max-width:1023px) {
  .places__item {
    grid-template-columns: 440px auto;
    margin-bottom: 73px;
    column-gap: 28px;
  }
}

@media screen and (max-width:768px) {
  .places__item {
    grid-template-columns: 340px auto;
    margin-bottom: 73px;
    column-gap: 28px;
  }
}

@media screen and (max-width:767px) {
  .places__item {
    grid-template-columns: auto auto;
    margin-bottom: 73px;
    column-gap: 28px;
  }
}

@media screen and (max-width:600px) {
  .places__item {
    grid-template-columns: auto;
    margin-bottom: 50px;
    row-gap: 32px;
  }
}